div { 
    width: 400px;
    background-color: blanchedalmond;
    padding: 20px 40px;
    margin: 100px auto;
    border: 5px solid black;
    border-radius: 5px;

img {
    width: 100%;
    border-radius: 10px;

}
a {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}

}

body {
    background-color: brown;
}