*{
  margin: 0;
  padding: 0;
}

.nav-start{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.btn {
  background-color: rgb(111, 33, 33);
  color: #fff;
  border: none;

  width: 85px;
  height: 30px;
}



/* .dark .list div {
  background: #0b3b39;
  color: aliceblue;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.dark .list h1,
.dark .list p {
  color: aliceblue;
}

.dark{
  background-color: #052826;
  color: aliceblue;
} */

.dark{
  background-color: #0f172a;
  color: aliceblue;
}

.dark .list div {
  background: #1e293b;
  color: aliceblue;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.dark .list h1,
.dark .list p {
  color: aliceblue;
}



.fa-list {
    display: none !important;
}


@media(max-width:650px) {
  .fa-list{
    display: block !important;
  }

  .nav-list {
    display: none;
  }

  .navbar{
    flex-direction: column;
    align-items: end;
  }
}

.block{
    display: block;
}

.none {
    display: none !important;
}








.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.list div {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
}

.list div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.list img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list h1 {
  font-size: 20px;
  margin-bottom: 10px;
   color: black;
}

.list p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
}

.price {
  color: #1dbf47 !important;
  font-weight: bold;
  font-size: 18px;
}
